In [4]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [5]:
%ls

exhibitors.csv            HM_2018_API.py  README.md   scrape_HM2018_01.ipynb
Exploring the data.ipynb  HSM_2018.csv    robots.txt

In [13]:
df = pd.read_csv('exhibitors.csv')
df.head()
df.loc[:,['city', 'zip_code','country']].head()

,Unnamed: 0,city,country,name,street,tel_number,website,zip_code,Unnamed: 8
0,0,Sassuolo,Italy,A ZETA GOMMA - FornitureIndustriali s.p.A.,Via Radici in Piano 449/1,+39 0536 867111,http://www.azetagomma.com,41049,NaN
1,1,Eyüp,Turkey,AAG Makina Basingli Hava Sist.San Tic. Ltd. Sti.,"Merkez Mah., Pierre LotiIdris Köskü Caddesi Ku...",+90 212 5634381,http://www.aagmakina.com,34050,NaN
2,2,Horsens,Denmark,Aage Östergaard A/S,Islandsvej 25,+45 7562 1144,http://www.aaosteel.dk,8700,NaN
3,3,Rickenbach,Switzerland,Aareplast AG,Industriestrasse West 19,+41 62 2062100,http://www.aareplast.com,4613,NaN
4,4,Nürnberg,Germany,AAT Aston GmbHGeräte für Elektronikfertigung u...,Konradstr. 7,+49 911 3266 0,http://www.aston.de,90429,NaN

         city zip_code      country
0    Sassuolo    41049        Italy
1        Eyüp    34050       Turkey
2     Horsens     8700      Denmark
3  Rickenbach     4613  Switzerland
4    Nürnberg    90429      Germany

In [14]:
countrys = df.country.unique()
print('Number of different countrys: {}'.format(len(countrys)))
pd.DataFrame(countrys).head()

Number of different countrys: 75

             0
0        Italy
1       Turkey
2      Denmark
3  Switzerland
4      Germany

In [15]:
city = df.city.unique()
print('Number of different cities: {}'.format(len(city)))
city = pd.DataFrame(city, columns=['city'])

#city['zip_code'] = [i for i in city[0]]
city.head()

Number of different cities: 2807

         city
0    Sassuolo
1        Eyüp
2     Horsens
3  Rickenbach
4    Nürnberg